#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.formStyle {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formStyle input[type=text]{
  width: 200px;
  height: 30px;
  border-radius: 8px;
}

.formStyle #desc {
  width: 600px;
  height: 30px;
  border-radius: 8px;
}

.formStyle button {
  /* width: 200px;
  height: 30px; */
  border-radius: 8px;
  color:#fff;
  background-color: green;
  cursor: pointer;
  font-weight: bold;
  transition: 200ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.formStyle button:not(:disabled):hover,
.formStyle button:not(:disabled):focus {
  outline: 0;
  background: rgb(0, 180, 78);
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.formStyle button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
